<!DOCTYPE html>
<html>
    <head>
        <link href='/../css/boostrap.css' rel='stylesheet' type='text/css'>
        <link href='/../css/styles.css' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <div class='container'>
            <h2>Shoe Store and Shoe Brand Finder</h2>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
