<!DOCTYPE html>
<html>
    <head>
        <link href='/../css/bootstrap.css' rel='stylesheet' type='text/css'>
        <link href='/../css/styles.css' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <div class='container'>
            <h2>Get your kicks on!</h2>
            <a href='/'><button type='button'>Home</button></a>
            {% block update %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
