<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <div class='container'>
            <h2>Shoe Store and Brand Finder</h2>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
